
#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data_dir/hg19/
#
# Note: Since version 2.1 you can use tilde ('~') as first character to refer to your home directory
#---
data_dir = /home/galaxy/galaxy-dist/tool-data/shared/jars/snpEff/data/

#---
# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
#---
database_repository = http://downloads.sourceforge.net/project/snpeff/databases

#-------------------------------------------------------------------------------
# Genomes
#
# One entry per genome version. 
#
# For genome version 'ZZZ' the entries look like
#	ZZZ.genome              : Real name for ZZZ (e.g. 'Human')
#	ZZZ.reference           : [Optional] Comma separated list of URL to site/s where information for building ZZZ database was extracted.
#	ZZZ.chrName.codonTable  : [Optional] Define codon table used for chromosome 'chrName' (Default: 'codon.Standard')
#
#-------------------------------------------------------------------------------

# Ailuropoda_melanoleuca
ailmel1.61.genome : Ailuropoda_melanoleuca

# Anopheles_gambiae
agam.genome : Anopheles_gambiae
agam.reference : http://agambiae.vectorbase.org/GetData/ 

agam2.6.genome : Anopheles_gambiae
agam2.6.reference : http://agambiae.vectorbase.org/GetData/ 

# Arabidopsis lyrata
alyrata107.genome : Arabidopsis_lyrata
alyrata107.reference : http://www.phytozome.net/search.php?method=Org_Alyrata

alyrata1.genome : Arabidopsis_lyrata
alyrata1.reference : http://genome.jgi-psf.org/Araly1/Araly1.download.ftp.html

# Apis mellifera
amel2.genome : Bee
amel2.reference : http://beebase.org

# Anolis carolinensis genes (AnoCar1.0) (ENSEMBL)
anoCar1.0.60.genome : Anolis_carolinensis
anoCar2.0.61.genome : Anolis_carolinensis

# Aquilegia coerulea
aquiCoer.genome : Aquilegia_coerulea

# Arabidopsis Thaliana
athaliana130.genome : Arabidopsis_Thaliana
athaliana130.reference : http://www.phytozome.net/dataUsagePolicy.php?org=Org_Athaliana

athalianaTair9.genome : Arabidopsis_Thaliana
athalianaTair9.reference : ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR9_genome_release

athalianaTair10.genome : Arabidopsis_Thaliana
athalianaTair10.reference : ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR10_genome_release

# Bos taurus genes (Btau_4.0) (ENSEMBL)
btau4.0.59.genome : Bos_taurus
btau4.0.60.genome : Bos_taurus
btau4.0.61.genome : Bos_taurus

# Otolemur garnettii genes (otoGar1) (ENSEMBL)
bushBaby1.60.genome : Otolemur_garnettii
bushBaby1.61.genome : Otolemur_garnettii

# Candida_albicans_SC5314 
cAlbicansv21.genome: Candida_albicans_SC5314
cAlbicansv21.reference: http://www.candidagenome.org/download/gff/C_albicans_SC5314/

# C. Briggsae 
c_briggsae_WS230.genome : Caenorhabditis_briggsae
c_briggsae_WS230.reference : ftp://ftp.wormbase.org/pub/wormbase/releases/WS230/species/c_briggsae/

# Cryptococcus neoformans
c_neoformans.genome: Cryptococcus_neoformans
c_neoformans.reference: http://www.broadinstitute.org/annotation/genome/cryptococcus_neoformans/MultiDownloads.html

# Callithrix jacchus genes (calJac3) (ENSEMBL)
calJac3.2.1.60.genome : Callithrix_jacchus
calJac3.2.1.61.genome : Callithrix_jacchus

# Canis familiaris genes (CanFam_2.0) (ENSEMBL)
canFam2.59.genome : Canis_familiaris
canFam2.60.genome : Canis_familiaris
canFam2.61.genome : Canis_familiaris

# Felis catus genes (CAT) (ENSEMBL)
cat1.60.genome : Felis_catus
cat1.61.genome : Felis_catus

# Cavia porcellus genes (cavPor3) (ENSEMBL)
cavPor3.60.genome : Cavia_porcellus
cavPor3.61.genome : Cavia_porcellus

# Caenorhabditis elegans genes (WS210) (ENSEMBL)
ce.WS201.genome    : Caenorhabditis_elegans
ce.WS210.60.genome : Caenorhabditis_elegans
ce.WS220.61.genome : Caenorhabditis_elegans

# Pan troglodytes genes (CHIMP2.1) (ENSEMBL)
chimp2.1.59.genome : Pan_troglodytes
chimp2.1.60.genome : Pan_troglodytes
chimp2.1.61.genome : Pan_troglodytes

# Choloepus hoffmanni genes (choHof1) (ENSEMBL)
choHof1.60.genome : Choloepus_hoffmanni
choHof1.61.genome : Choloepus_hoffmanni

# Ciona intestinalis genes (JGI2) (ENSEMBL)
cInt2.60.genome : Ciona_intestinalis
cInt2.61.genome : Ciona_intestinalis

# CP000730
CP000730.genome : Staphylococcus_aureus
CP000730.reference : http://www.ncbi.nlm.nih.gov/nuccore/CP000730.1

# Capsella_rubella_v1.0 (Toronto University, Grandiflora)
crubella.genome : Capsella_rubella_v1.0

# Ciona savignyi genes (CSAV2.0) (ENSEMBL)
cSav2.0.60.genome : Ciona_savignyi
cSav2.0.61.genome : Ciona_savignyi

# Danio rerio genes (Zv9) (ENSEMBL)
danRer8.59.genome : Danio_rerio
danRer9.60.genome : Danio_rerio
danRer9.61.genome : Danio_rerio

# Dasypus novemcinctus genes (dasNov2) (ENSEMBL)
dasNov2.60.genome : Dasypus_novemcinctus
dasNov2.61.genome : Dasypus_novemcinctus

# Dipodomys ordii genes (dipOrd1) (ENSEMBL)
dipOrd1.60.genome : Dipodomys_ordii
dipOrd1.61.genome : Dipodomys_ordii

# Drosophila melanogaster (ENSEMBL)
dm5.25.59.genome : Drosophila_melanogaster
dm5.25.60.genome : Drosophila_melanogaster
dm5.25.61.genome : Drosophila_melanogaster
dm5.25.63.genome : Drosophila_melanogaster

# Drosophila melanogaster (FlyBase)
dm5.12.genome : Drosophila_melanogaster
dm5.22.genome : Drosophila_melanogaster
dm5.30.genome : Drosophila_melanogaster
dm5.31.genome : Drosophila_melanogaster
dm5.32.genome : Drosophila_melanogaster
dm5.34.genome : Drosophila_melanogaster
dm5.40.genome : Drosophila_melanogaster
dm5.42.genome : Drosophila_melanogaster

# Equus caballus genes (EquCab2) (ENSEMBL)
equCab2.60.genome : Equus_caballus
equCab2.61.genome : Equus_caballus

# Erinaceus europaeus genes (eriEur1) (ENSEMBL)
eriEur1.60.genome : Erinaceus_europaeus
eriEur1.61.genome : Erinaceus_europaeus

# Takifugu rubripes genes (FUGU4.0) (ENSEMBL)
fugu4.60.genome : Takifugu_rubripes
fugu4.61.genome : Takifugu_rubripes

# Gasterosteus aculeatus genes (BROADS1) (ENSEMBL)
gacu1.60.genome : Gasterosteus_aculeatus
gacu1.61.genome : Gasterosteus_aculeatus

# Gallus gallus genes (WASHUC2) (ENSEMBL)
ggallus2.59.genome : Gallus_gallus
ggallus2.60.genome : Gallus_gallus
ggallus2.61.genome : Gallus_gallus

# Glycine max
gmax1.09.genome: Glycine_Max
gmax1.09.reference: ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v7.0/Gmax/

gmax1.09v8.genome: Glycine_Max
gmax1.09v8.reference: ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v8.0/Gmax/

# Gorilla gorilla genes (gorGor3) (ENSEMBL)
gorGor3.60.genome : Gorilla_gorilla
gorGor3.61.genome : Gorilla_gorilla

# Human herpesvirus 1, complete genome. NCBI Reference Sequence: NC_001806.1
herpesvirus1.genome: Herpesvirus

# Homo sapiens genes (GRCh37.p2) (ENSEMBL)
hg36.54.genome : Homo_sapiens
hg37.59.genome : Homo_sapiens
hg37.60.genome : Homo_sapiens
hg37.61.genome : Homo_sapiens
hg37.63.genome : Homo_sapiens

# Homo sapiens (hg19) (UCSC)
hg19.genome : Homo_sapiens
hg19.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \	# Protein
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \		# CDS
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink


# HIV_nc_001802_1
hiv.genome : HIV

# Grosmannia clavigera
kw1407.2012.genome: Grosmannia_clavigera

# Leishmania genome
lmjf4.genome : LmajorFriedlin

# Loxodonta africana genes (loxAfr3) (ENSEMBL)
loxAfr3.60.genome : Loxodonta_africana
loxAfr3.61.genome : Loxodonta_africana

# Mycobacterium tuberculosis
m_tuberculosis.genome : Mycobacterium_tuberculosis
m_tuberculosis.reference : ftp://ftp.sanger.ac.uk/pub/pathogens/Mycobacterium/tuberculosis/

# Neurospora Crassa 
ncrassa.genome : Neurospora_Crassa
ncrassa.reference : http://www.broadinstitute.org/annotation/genome/neurospora/MultiDownloads.html

# Ecoli K12 MG1655
NC_000913.genome : Escherichia_coli

# Clostridium difficile
NC_009089.1.genome : Clostridium_difficile

# Maize
maizeZmB73.genome : Maize_ZmB73
maizeZmB73.reference : http://ftp.maizesequence.org/

# Oryzias latipes genes (HdrR) (ENSEMBL)
medaka1.60.genome : Oryzias_latipes
medaka1.61.genome : Oryzias_latipes

# Macropus eugenii genes (Meug_1.0) (ENSEMBL)
meug1.0.60.genome : Macropus_eugenii
meug1.0.61.genome : Macropus_eugenii

# Microcebus murinus genes (micMur1) (ENSEMBL)
micMur1.60.genome : Microcebus_murinus
micMur1.61.genome : Microcebus_murinus

# Mus musculus genes (NCBIM37) (ENSEMBL)
mm37.genome : Mus_musculus
mm37.59.genome : Mus_musculus
mm37.60.genome : Mus_musculus
mm37.61.genome : Mus_musculus

# Macaca mulatta genes (MMUL_1.0) (ENSEMBL)
mmul1.60.genome : Macaca_mulatta
mmul1.61.genome : Macaca_mulatta

# Mycobacterium marinum M strain genome, version 31012012 			
mmm.2012.genome : Mycobacterium_marinum_M

# Monodelphis domestica genes (monDom5) (ENSEMBL)
monDom5.60.genome : Monodelphis_domestica
monDom5.61.genome : Monodelphis_domestica

# Mycoplasma pneumoninae FH
myco_fh.genome : Mycoplasma_pneumoninae_FH

# Mycoplasma pneumoninae M129
myco_m129.genome : Mycoplasma_pneumoninae_M129

# Myotis lucifugus genes (myoLuc1) (ENSEMBL)
myoLuc1.60.genome : Myotis_lucifugus
myoLuc1.61.genome : Myotis_lucifugus

# Ornithorhynchus anatinus genes (OANA5) (ENSEMBL)
oana5.60.genome : Ornithorhynchus_anatinus
oana5.61.genome : Ornithorhynchus_anatinus

# Ochotona princeps genes (OchPri2.0) (ENSEMBL)
ochPri2.60.genome : Ochotona_princeps
ochPri2.61.genome : Ochotona_princeps

# Oryctolagus cuniculus genes (oryCun2.0) (ENSEMBL)
oryCun2.60.genome : Oryctolagus_cuniculus
oryCun2.61.genome : Oryctolagus_cuniculus

# Pseudomonas aeruginosa, N_008463
paeru.PA01.genome : Pseudomonas_aeruginosa
	paeru.PA01.chromosomes : NC_002516.2
	paeru.PA01.NC_002516.2.codonTable: Bacterial_and_Plant_Plastid

# Pseudomonas aeruginosa, N_008463
paeru.PA14.genome : Pseudomonas_aeruginosa
	paeru.PA14.chromosomes : NC_008463.1
	paeru.PA14.NC_008463.1.codonTable: Bacterial_and_Plant_Plastid

# Peromyscus leucopus (white footed deer mice)
peromyscus.genome : Peromyscus leucopus

# Plasmodium falciparum 
plasmo72.genome: Plasmodium_falciparum
plasmo72.reference: http://plasmodb.org/common/downloads/release-7.2/Pfalciparum/

# Peach (Prunus persica). 
ppersica139.genome : Peach
ppersica139.reference : ftp://ftp.plantgdb.org/download/Genomes/PeGDB/

# Pseudomonas fluorescens
pfluo.SBW25.NC_009444.genome : Pseudomonas_fluorescens
	pfluo.SBW25.NC_009444.chromosomes : NC_009444.1
	pfluo.SBW25.NC_009444.NC_009444.1.codonTable: Bacterial_and_Plant_Plastid

# Pseudomonas fluorescens
pfluo.SBW25.NC_012660.genome : Pseudomonas_fluorescens
	pfluo.SBW25.NC_012660.chromosomes : NC_012660.1
	pfluo.SBW25.NC_012660.NC_012660.1.codonTable: Bacterial_and_Plant_Plastid

# Pongo pygmaeus abelii genes (PPYG2) (ENSEMBL)
ppyg2.60.genome : Pongo_pygmaeus
ppyg2.61.genome : Pongo_pygmaeus

# Procavia capensis genes (proCap1) (ENSEMBL)
proCap1.60.genome : Procavia_capensis
proCap1.61.genome : Procavia_capensis

# Pteropus vampyrus genes (pteVam1) (ENSEMBL)
pteVam1.60.genome : Pteropus_vampyrus
pteVam1.61.genome : Pteropus_vampyrus

# Rattus norvegicus genes (RGSC3.4) (ENSEMBL)
rat3.4.59.genome : Rattus_norvegicus
rat3.4.60.genome : Rattus_norvegicus
rat3.4.61.genome : Rattus_norvegicus

# Rice: http://rapdb.dna.affrc.go.jp/download/index.html
rice5.genome: Rice
rice5.reference: http://rapdb.dna.affrc.go.jp/download/index.html

rice6.1.genome: Rice
rice6.1.reference: ftp://ftp.plantbiology.msu.edu,ftp://ftp.plantbiology.msu.edu/pub/data/Eukaryotic_Projects/o_sativa/annotation_dbs/

# Saccharomyces cerevisiae genes (SGD1.01) (ENSEMBL)
sacCer2.genome : Saccharomyces_cerevisiae
sacCer2.59.genome : Saccharomyces_cerevisiae
sacCer2.60.genome : Saccharomyces_cerevisiae
sacCer2.61.genome : Saccharomyces_cerevisiae

# SCU49845
SCU49845.genome : SCU49845

# HIV virus 
SIVmac239.genome : HIV
SIVmac239.reference : http://www.ncbi.nlm.nih.gov/nuccore/334647

# Tomato 
SL2.40.genome : Tomato
SL2.40.reference : ftp://ftp.solgenomics.net/,ftp://ftp.solgenomics.net/genomes/Solanum_lycopersicum/wgs/assembly/build_2.40/S_lycopersicum_chromosomes.2.40.fa.gz,http://solgenomics.net/itag/release/2.3/list_files(ITAG2.3_gene_models.gff3)

# Sorex araneus genes (sorAra1) (ENSEMBL)
sorAra1.60.genome : Sorex_araneus
sorAra1.61.genome : Sorex_araneus

# Spermophilus tridecemlineatus genes (speTri1) (ENSEMBL)
speTri1.60.genome : Spermophilus_tridecemlineatus
speTri1.61.genome : Spermophilus_tridecemlineatus

# Schizosaccharomyces pombe (fission yeast). 
spombe.genome : Schizosaccharomyces_pombe
spombe.reference : ftp://ftp.sanger.ac.uk/pub/yeast/pombe/GFF

# Sus scrofa genes (Sscrofa9) (ENSEMBL)
sScrofa9.60.genome : Sus_scrofa
sScrofa9.61.genome : Sus_scrofa

# Taeniopygia guttata genes (taeGut3.2.4) (ENSEMBL)
taeGut3.2.4.60.genome : Taeniopygia_guttata
taeGut3.2.4.61.genome : Taeniopygia_guttata

# Tarsius syrichta genes (tarSyr1) (ENSEMBL)
tarSyr1.60.genome : Tarsius_syrichta
tarSyr1.61.genome : Tarsius_syrichta

# Echinops telfairi genes (TENREC) (ENSEMBL)
tenrec1.60.genome : Echinops_telfairi
tenrec1.61.genome : Echinops_telfairi

# Used for debugging
test.genome : TestCase
testHg3761Chr15.genome : TestCase
testHg3761Chr16.genome : TestCase
testHg3763Chr1.genome  : TestCase
testHg3763Chr20.genome : TestCase
testHg3763ChrY.genome  : TestCase
testHg3765Chr22.genome : TestCase
testCase.genome        : TestCase
	testCaseHg.chromosomes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, X, Y
test_ENSG00000158062.genome   : TestCase

# Tetraodon nigroviridis genes (TETRAODON8.0) (ENSEMBL)
tetraodon8.60.genome : Tetraodon_nigroviridis
tetraodon8.61.genome : Tetraodon_nigroviridis

# Tupaia belangeri genes (tupBel1) (ENSEMBL)
tupBel1.60.genome : Tupaia_belangeri
tupBel1.61.genome : Tupaia_belangeri

# Meleagris_gallopavo (Turkey)
turkey.UMD2.61.genome : Meleagris_gallopavo

# Tursiops truncatus genes (turTru1) (ENSEMBL)
turTru1.60.genome : Tursiops_truncatus
turTru1.61.genome : Tursiops_truncatus

# Bos taurus : University of Maryland version 3.1
UMD3_1.genome : Bos_taurus

# Vaccinia WR (NCBIM37) (ENSEMBL) gi|29692106|gb|AY243312.1|
vacwr.genome : Vaccinia_Western_Reserve

# Vibrio Cholerae
vibrio.genome : Vibrio Cholerae
	vibrio.chromosomes : NC_002505.1, NC_002506.1
	vibrio.NC_002505.1.codonTable : Bacterial_and_Plant_Plastid
	vibrio.NC_002506.1.codonTable : Bacterial_and_Plant_Plastid

# Vicugna pacos genes (vicPac1) (ENSEMBL)
vicPac1.60.genome : Vicugna_pacos
vicPac1.61.genome : Vicugna_pacos

# Xenopus tropicalis genes 
xtrop4.1.60.genome : Xenopus_tropicalis
xtrop4.1.61.genome : Xenopus_tropicalis

# Xenopus tropicalis 
xtrop7.1.genome : Xenopus_tropicalis
xtrop7.1.reference : ftp://ftp.xenbase.org/pub/Genomics/JGI/Xentr7.1/

#---
# Ensembl 63 versions
#---

ailMel1.63.genome : Ailuropoda_melanoleuca
ailMel1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

AnoCar2.0.63.genome : Anolis_carolinensis
AnoCar2.0.63.reference : ftp://ftp.ensembl.org/pub/release-63/

Btau_4.0.63.genome : Bos_taurus
Btau_4.0.63.reference : ftp://ftp.ensembl.org/pub/release-63/

WS220.63.genome : Caenorhabditis_elegans
WS220.63.reference : ftp://ftp.ensembl.org/pub/release-63/

C_jacchus3.2.1.63.genome : Callithrix_jacchus
C_jacchus3.2.1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

BROADD2.63.genome : Canis_familiaris
BROADD2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

cavPor3.63.genome : Cavia_porcellus
cavPor3.63.reference : ftp://ftp.ensembl.org/pub/release-63/

choHof1.63.genome : Choloepus_hoffmanni
choHof1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

JGI2.63.genome : Ciona_intestinalis
JGI2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

CSAV2.0.63.genome : Ciona_savignyi
CSAV2.0.63.reference : ftp://ftp.ensembl.org/pub/release-63/

Zv9.63.genome : Danio_rerio
Zv9.63.reference : ftp://ftp.ensembl.org/pub/release-63/

dasNov2.63.genome : Dasypus_novemcinctus
dasNov2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

dipOrd1.63.genome : Dipodomys_ordii
dipOrd1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

BDGP5.25.63.genome : Drosophila_melanogaster
BDGP5.25.63.reference : ftp://ftp.ensembl.org/pub/release-63/

TENREC.63.genome : Echinops_telfairi
TENREC.63.reference : ftp://ftp.ensembl.org/pub/release-63/

EquCab2.63.genome : Equus_caballus
EquCab2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

HEDGEHOG.63.genome : Erinaceus_europaeus
HEDGEHOG.63.reference : ftp://ftp.ensembl.org/pub/release-63/

CAT.63.genome : Felis_catus
CAT.63.reference : ftp://ftp.ensembl.org/pub/release-63/

WASHUC2.63.genome : Gallus_gallus
WASHUC2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

BROADS1.63.genome : Gasterosteus_aculeatus
BROADS1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

gorGor3.63.genome : Gorilla_gorilla
gorGor3.63.reference : ftp://ftp.ensembl.org/pub/release-63/

GRCh37.63.genome : Homo_sapiens
GRCh37.63.reference : ftp://ftp.ensembl.org/pub/release-63/

loxAfr3.63.genome : Loxodonta_africana
loxAfr3.63.reference : ftp://ftp.ensembl.org/pub/release-63/

MMUL_1.63.genome : Macaca_mulatta
MMUL_1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

Meug_1.0.63.genome : Macropus_eugenii
Meug_1.0.63.reference : ftp://ftp.ensembl.org/pub/release-63/

UMD2.63.genome : Meleagris_gallopavo
UMD2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

micMur1.63.genome : Microcebus_murinus
micMur1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

BROADO5.63.genome : Monodelphis_domestica
BROADO5.63.reference : ftp://ftp.ensembl.org/pub/release-63/

NCBIM37.63.genome : Mus_musculus
NCBIM37.63.reference : ftp://ftp.ensembl.org/pub/release-63/

Myoluc2.0.63.genome : Myotis_lucifugus
Myoluc2.0.63.reference : ftp://ftp.ensembl.org/pub/release-63/

Nleu1.0.63.genome : Nomascus_leucogenys
Nleu1.0.63.reference : ftp://ftp.ensembl.org/pub/release-63/

pika.63.genome : Ochotona_princeps
pika.63.reference : ftp://ftp.ensembl.org/pub/release-63/

OANA5.63.genome : Ornithorhynchus_anatinus
OANA5.63.reference : ftp://ftp.ensembl.org/pub/release-63/

oryCun2.63.genome : Oryctolagus_cuniculus
oryCun2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

MEDAKA1.63.genome : Oryzias_latipes
MEDAKA1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

BUSHBABY1.63.genome : Otolemur_garnettii
BUSHBABY1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

CHIMP2.1.63.genome : Pan_troglodytes
CHIMP2.1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

PPYG2.63.genome : Pongo_abelii
PPYG2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

proCap1.63.genome : Procavia_capensis
proCap1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

pteVam1.63.genome : Pteropus_vampyrus
pteVam1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

RGSC3.4.63.genome : Rattus_norvegicus
RGSC3.4.63.reference : ftp://ftp.ensembl.org/pub/release-63/

EF3.63.genome : Saccharomyces_cerevisiae
EF3.63.reference : ftp://ftp.ensembl.org/pub/release-63/

COMMON_SHREW1.63.genome : Sorex_araneus
COMMON_SHREW1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

SQUIRREL.63.genome : Spermophilus_tridecemlineatus
SQUIRREL.63.reference : ftp://ftp.ensembl.org/pub/release-63/

Sscrofa9.63.genome : Sus_scrofa
Sscrofa9.63.reference : ftp://ftp.ensembl.org/pub/release-63/

taeGut3.2.4.63.genome : Taeniopygia_guttata
taeGut3.2.4.63.reference : ftp://ftp.ensembl.org/pub/release-63/

FUGU4.63.genome : Takifugu_rubripes
FUGU4.63.reference : ftp://ftp.ensembl.org/pub/release-63/

tarSyr1.63.genome : Tarsius_syrichta
tarSyr1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

TETRAODON8.63.genome : Tetraodon_nigroviridis
TETRAODON8.63.reference : ftp://ftp.ensembl.org/pub/release-63/

TREESHREW.63.genome : Tupaia_belangeri
TREESHREW.63.reference : ftp://ftp.ensembl.org/pub/release-63/

turTru1.63.genome : Tursiops_truncatus
turTru1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

vicPac1.63.genome : Vicugna_pacos
vicPac1.63.reference : ftp://ftp.ensembl.org/pub/release-63/

JGI_4.2.63.genome : Xenopus_tropicalis
JGI_4.2.63.reference : ftp://ftp.ensembl.org/pub/release-63/

#---
# Ensembl 64 versions
#---

ailMel1.64.genome : Ailuropoda_melanoleuca
ailMel1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

AnoCar2.0.64.genome : Anolis_carolinensis
AnoCar2.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

UMD3.1.64.genome : Bos_taurus
UMD3.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

WS220.64.genome : Caenorhabditis_elegans
WS220.64.reference : ftp://ftp.ensembl.org/pub/release-64/

C_jacchus3.2.1.64.genome : Callithrix_jacchus
C_jacchus3.2.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BROADD2.64.genome : Canis_familiaris
BROADD2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

cavPor3.64.genome : Cavia_porcellus
cavPor3.64.reference : ftp://ftp.ensembl.org/pub/release-64/

choHof1.64.genome : Choloepus_hoffmanni
choHof1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

JGI2.64.genome : Ciona_intestinalis
JGI2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

CSAV2.0.64.genome : Ciona_savignyi
CSAV2.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Zv9.64.genome : Danio_rerio
Zv9.64.reference : ftp://ftp.ensembl.org/pub/release-64/

dasNov2.64.genome : Dasypus_novemcinctus
dasNov2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

dipOrd1.64.genome : Dipodomys_ordii
dipOrd1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BDGP5.25.64.genome : Drosophila_melanogaster
BDGP5.25.64.reference : ftp://ftp.ensembl.org/pub/release-64/

TENREC.64.genome : Echinops_telfairi
TENREC.64.reference : ftp://ftp.ensembl.org/pub/release-64/

EquCab2.64.genome : Equus_caballus
EquCab2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

HEDGEHOG.64.genome : Erinaceus_europaeus
HEDGEHOG.64.reference : ftp://ftp.ensembl.org/pub/release-64/

CAT.64.genome : Felis_catus
CAT.64.reference : ftp://ftp.ensembl.org/pub/release-64/

WASHUC2.64.genome : Gallus_gallus
WASHUC2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BROADS1.64.genome : Gasterosteus_aculeatus
BROADS1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

gorGor3.1.64.genome : Gorilla_gorilla
gorGor3.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

GRCh37.64.genome : Homo_sapiens
GRCh37.64.reference : ftp://ftp.ensembl.org/pub/release-64/

loxAfr3.64.genome : Loxodonta_africana
loxAfr3.64.reference : ftp://ftp.ensembl.org/pub/release-64/

MMUL_1.64.genome : Macaca_mulatta
MMUL_1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Meug_1.0.64.genome : Macropus_eugenii
Meug_1.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

UMD2.64.genome : Meleagris_gallopavo
UMD2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

micMur1.64.genome : Microcebus_murinus
micMur1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BROADO5.64.genome : Monodelphis_domestica
BROADO5.64.reference : ftp://ftp.ensembl.org/pub/release-64/

NCBIM37.64.genome : Mus_musculus
NCBIM37.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Myoluc2.0.64.genome : Myotis_lucifugus
Myoluc2.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Nleu1.0.64.genome : Nomascus_leucogenys
Nleu1.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

pika.64.genome : Ochotona_princeps
pika.64.reference : ftp://ftp.ensembl.org/pub/release-64/

OANA5.64.genome : Ornithorhynchus_anatinus
OANA5.64.reference : ftp://ftp.ensembl.org/pub/release-64/

oryCun2.64.genome : Oryctolagus_cuniculus
oryCun2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

MEDAKA1.64.genome : Oryzias_latipes
MEDAKA1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BUSHBABY1.64.genome : Otolemur_garnettii
BUSHBABY1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

CHIMP2.1.64.genome : Pan_troglodytes
CHIMP2.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Petromyzon_marinus_7.0.64.genome : Petromyzon_marinus
Petromyzon_marinus_7.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

PPYG2.64.genome : Pongo_abelii
PPYG2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

proCap1.64.genome : Procavia_capensis
proCap1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

pteVam1.64.genome : Pteropus_vampyrus
pteVam1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

RGSC3.4.64.genome : Rattus_norvegicus
RGSC3.4.64.reference : ftp://ftp.ensembl.org/pub/release-64/

EF3.64.genome : Saccharomyces_cerevisiae
EF3.64.reference : ftp://ftp.ensembl.org/pub/release-64/

DEVIL7.0.64.genome : Sarcophilus_harrisii
DEVIL7.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

COMMON_SHREW1.64.genome : Sorex_araneus
COMMON_SHREW1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

SQUIRREL.64.genome : Spermophilus_tridecemlineatus
SQUIRREL.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Sscrofa9.64.genome : Sus_scrofa
Sscrofa9.64.reference : ftp://ftp.ensembl.org/pub/release-64/

taeGut3.2.4.64.genome : Taeniopygia_guttata
taeGut3.2.4.64.reference : ftp://ftp.ensembl.org/pub/release-64/

FUGU4.64.genome : Takifugu_rubripes
FUGU4.64.reference : ftp://ftp.ensembl.org/pub/release-64/

tarSyr1.64.genome : Tarsius_syrichta
tarSyr1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

TETRAODON8.64.genome : Tetraodon_nigroviridis
TETRAODON8.64.reference : ftp://ftp.ensembl.org/pub/release-64/

TREESHREW.64.genome : Tupaia_belangeri
TREESHREW.64.reference : ftp://ftp.ensembl.org/pub/release-64/

turTru1.64.genome : Tursiops_truncatus
turTru1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

vicPac1.64.genome : Vicugna_pacos
vicPac1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

JGI_4.2.64.genome : Xenopus_tropicalis
JGI_4.2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

#---
# Ensembl 65 versions
#---

ailMel1.65.genome : Ailuropoda_melanoleuca
ailMel1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

AnoCar2.0.65.genome : Anolis_carolinensis
AnoCar2.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

UMD3.1.65.genome : Bos_taurus
UMD3.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

WS220.65.genome : Caenorhabditis_elegans
WS220.65.reference : ftp://ftp.ensembl.org/pub/release-65/

C_jacchus3.2.1.65.genome : Callithrix_jacchus
C_jacchus3.2.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BROADD2.65.genome : Canis_familiaris
BROADD2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

cavPor3.65.genome : Cavia_porcellus
cavPor3.65.reference : ftp://ftp.ensembl.org/pub/release-65/

choHof1.65.genome : Choloepus_hoffmanni
choHof1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

JGI2.65.genome : Ciona_intestinalis
JGI2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

CSAV2.0.65.genome : Ciona_savignyi
CSAV2.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Zv9.65.genome : Danio_rerio
Zv9.65.reference : ftp://ftp.ensembl.org/pub/release-65/

dasNov2.65.genome : Dasypus_novemcinctus
dasNov2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

dipOrd1.65.genome : Dipodomys_ordii
dipOrd1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BDGP5.25.65.genome : Drosophila_melanogaster
BDGP5.25.65.reference : ftp://ftp.ensembl.org/pub/release-65/

TENREC.65.genome : Echinops_telfairi
TENREC.65.reference : ftp://ftp.ensembl.org/pub/release-65/

EquCab2.65.genome : Equus_caballus
EquCab2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

HEDGEHOG.65.genome : Erinaceus_europaeus
HEDGEHOG.65.reference : ftp://ftp.ensembl.org/pub/release-65/

CAT.65.genome : Felis_catus
CAT.65.reference : ftp://ftp.ensembl.org/pub/release-65/

WASHUC2.65.genome : Gallus_gallus
WASHUC2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BROADS1.65.genome : Gasterosteus_aculeatus
BROADS1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

gorGor3.1.65.genome : Gorilla_gorilla
gorGor3.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

GRCh37.65.genome : Homo_sapiens
GRCh37.65.reference : ftp://ftp.ensembl.org/pub/release-65/

loxAfr3.65.genome : Loxodonta_africana
loxAfr3.65.reference : ftp://ftp.ensembl.org/pub/release-65/

MMUL_1.65.genome : Macaca_mulatta
MMUL_1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Meug_1.0.65.genome : Macropus_eugenii
Meug_1.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

UMD2.65.genome : Meleagris_gallopavo
UMD2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

micMur1.65.genome : Microcebus_murinus
micMur1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BROADO5.65.genome : Monodelphis_domestica
BROADO5.65.reference : ftp://ftp.ensembl.org/pub/release-65/

NCBIM37.65.genome : Mus_musculus
NCBIM37.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Myoluc2.0.65.genome : Myotis_lucifugus
Myoluc2.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Nleu1.0.65.genome : Nomascus_leucogenys
Nleu1.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

pika.65.genome : Ochotona_princeps
pika.65.reference : ftp://ftp.ensembl.org/pub/release-65/

OANA5.65.genome : Ornithorhynchus_anatinus
OANA5.65.reference : ftp://ftp.ensembl.org/pub/release-65/

oryCun2.65.genome : Oryctolagus_cuniculus
oryCun2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

MEDAKA1.65.genome : Oryzias_latipes
MEDAKA1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BUSHBABY1.65.genome : Otolemur_garnettii
BUSHBABY1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

CHIMP2.1.65.genome : Pan_troglodytes
CHIMP2.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Petromyzon_marinus_7.0.65.genome : Petromyzon_marinus
Petromyzon_marinus_7.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

PPYG2.65.genome : Pongo_abelii
PPYG2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

proCap1.65.genome : Procavia_capensis
proCap1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

pteVam1.65.genome : Pteropus_vampyrus
pteVam1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

RGSC3.4.65.genome : Rattus_norvegicus
RGSC3.4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

EF4.65.genome : Saccharomyces_cerevisiae
EF4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

DEVIL7.0.65.genome : Sarcophilus_harrisii
DEVIL7.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

COMMON_SHREW1.65.genome : Sorex_araneus
COMMON_SHREW1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

SQUIRREL.65.genome : Spermophilus_tridecemlineatus
SQUIRREL.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Sscrofa9.65.genome : Sus_scrofa
Sscrofa9.65.reference : ftp://ftp.ensembl.org/pub/release-65/

taeGut3.2.4.65.genome : Taeniopygia_guttata
taeGut3.2.4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

FUGU4.65.genome : Takifugu_rubripes
FUGU4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

tarSyr1.65.genome : Tarsius_syrichta
tarSyr1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

TETRAODON8.65.genome : Tetraodon_nigroviridis
TETRAODON8.65.reference : ftp://ftp.ensembl.org/pub/release-65/

TREESHREW.65.genome : Tupaia_belangeri
TREESHREW.65.reference : ftp://ftp.ensembl.org/pub/release-65/

turTru1.65.genome : Tursiops_truncatus
turTru1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

vicPac1.65.genome : Vicugna_pacos
vicPac1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

#---
# Ensembl 66 versions
#---

ailMel1.66.genome : Ailuropoda_melanoleuca
ailMel1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

AnoCar2.0.66.genome : Anolis_carolinensis
AnoCar2.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

UMD3.1.66.genome : Bos_taurus
UMD3.1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

WS220.66.genome : Caenorhabditis_elegans
WS220.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

C_jacchus3.2.1.66.genome : Callithrix_jacchus
C_jacchus3.2.1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BROADD2.66.genome : Canis_familiaris
BROADD2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

cavPor3.66.genome : Cavia_porcellus
cavPor3.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

choHof1.66.genome : Choloepus_hoffmanni
choHof1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

KH.66.genome : Ciona_intestinalis
KH.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

CSAV2.0.66.genome : Ciona_savignyi
CSAV2.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Zv9.66.genome : Danio_rerio
Zv9.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

dasNov2.66.genome : Dasypus_novemcinctus
dasNov2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

dipOrd1.66.genome : Dipodomys_ordii
dipOrd1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BDGP5.66.genome : Drosophila_melanogaster
BDGP5.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

TENREC.66.genome : Echinops_telfairi
TENREC.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

EquCab2.66.genome : Equus_caballus
EquCab2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

HEDGEHOG.66.genome : Erinaceus_europaeus
HEDGEHOG.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

CAT.66.genome : Felis_catus
CAT.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

gadMor1.66.genome : Gadus_morhua
gadMor1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

WASHUC2.66.genome : Gallus_gallus
WASHUC2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BROADS1.66.genome : Gasterosteus_aculeatus
BROADS1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

gorGor3.1.66.genome : Gorilla_gorilla
gorGor3.1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

GRCh37.66.genome : Homo_sapiens
GRCh37.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

LatCha1.66.genome : Latimeria_chalumnae
LatCha1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

loxAfr3.66.genome : Loxodonta_africana
loxAfr3.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

MMUL_1.66.genome : Macaca_mulatta
MMUL_1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Meug_1.0.66.genome : Macropus_eugenii
Meug_1.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

UMD2.66.genome : Meleagris_gallopavo
UMD2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

micMur1.66.genome : Microcebus_murinus
micMur1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BROADO5.66.genome : Monodelphis_domestica
BROADO5.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

NCBIM37.66.genome : Mus_musculus
NCBIM37.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Myoluc2.0.66.genome : Myotis_lucifugus
Myoluc2.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Nleu1.0.66.genome : Nomascus_leucogenys
Nleu1.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

pika.66.genome : Ochotona_princeps
pika.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

OANA5.66.genome : Ornithorhynchus_anatinus
OANA5.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

oryCun2.66.genome : Oryctolagus_cuniculus
oryCun2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

MEDAKA1.66.genome : Oryzias_latipes
MEDAKA1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

OtoGar3.66.genome : Otolemur_garnettii
OtoGar3.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

CHIMP2.1.4.66.genome : Pan_troglodytes
CHIMP2.1.4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Pmarinus_7.0.66.genome : Petromyzon_marinus
Pmarinus_7.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

PPYG2.66.genome : Pongo_abelii
PPYG2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

proCap1.66.genome : Procavia_capensis
proCap1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

pteVam1.66.genome : Pteropus_vampyrus
pteVam1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

RGSC3.4.66.genome : Rattus_norvegicus
RGSC3.4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

EF4.66.genome : Saccharomyces_cerevisiae
EF4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

DEVIL7.0.66.genome : Sarcophilus_harrisii
DEVIL7.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

COMMON_SHREW1.66.genome : Sorex_araneus
COMMON_SHREW1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

SQUIRREL.66.genome : Spermophilus_tridecemlineatus
SQUIRREL.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Sscrofa9.66.genome : Sus_scrofa
Sscrofa9.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

taeGut3.2.4.66.genome : Taeniopygia_guttata
taeGut3.2.4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

FUGU4.66.genome : Takifugu_rubripes
FUGU4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

tarSyr1.66.genome : Tarsius_syrichta
tarSyr1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

TETRAODON8.66.genome : Tetraodon_nigroviridis
TETRAODON8.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

TREESHREW.66.genome : Tupaia_belangeri
TREESHREW.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

turTru1.66.genome : Tursiops_truncatus
turTru1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

vicPac1.66.genome : Vicugna_pacos
vicPac1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

JGI_4.2.66.genome : Xenopus_tropicalis
JGI_4.2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

#-------------------------------------------------------------------------------
# Codon tables
#
# Format:	It's a comma separated "codon/aminoAcid[+*]" list 
# 			Where 'codon' is in uppper case, aminoAcid is a one letter coce, '+' denotes start codon and '*' denotes stop codon
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#		ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#-------------------------------------------------------------------------------

codon.Standard:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Vertebrate_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/*, AGG/*, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Yeast_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/T, CTC/T, CTA/T, CTG/T, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mold_Mitochondrial:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Protozoan_Mitochondrial:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Coelenterate:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mitochondrial:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mycoplasma:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Spiroplasma:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Invertebrate_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ciliate_Nuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Dasycladacean_Nuclear: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Hexamita_Nuclear: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Echinoderm_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Flatworm_Mitochondrial: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Euplotid_Nuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/C, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Bacterial_and_Plant_Plastid:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Yeast_Nuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/S+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ascidian_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/G, AGG/G, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Flatworm_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Y, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Blepharisma_Macronuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Chlorophycean_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Trematode_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Scenedesmus_obliquus_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/*, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Thraustochytrium_Mitochondrial:  TTT/F, TTC/F, TTA/*, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G

